version: '3'

services:
  cassandra:
      container_name: cassandra
      build:
        context: ./cassandra
        dockerfile: Dockerfile
      ports:
        - "9042:9042"
      environment:
        - "MAX_HEAP_SIZE=256M"
        - "HEAP_NEWSIZE=128M"
      restart: always
      networks:
        -  netabet
  
  api:
      container_name: api
      build:
        context: ./api
        dockerfile: Dockerfile
      depends_on:
        -  cassandra
      environment:
        CASS_HOST: cassandra
      restart: always
      ports:
        -  8080:8080
      networks:
        -  netabet
  
networks:
  netabet:
    driver: bridge
